<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head", {title:"main"}) %>

<body>
    <h1>this file was sent from node server</h1>
    <%- include("../partials/navbar.ejs") %>
    <ul>
        <% animals.forEach(animal => { %>
            <!-- <li>name: <%= animal.name %> , &nbsp; type: <%= animal.type %> </li> -->
            <!-- another option to display the animals name and type with <li> tags -->

            <h1>name: <%= animal.name %></h1>
            <h6>type: <%= animal.type %></h6>
            <hr />
        <% }) %>
    </ul>

    <%- include("../partials/footer.ejs") %>
</body>
</html>